
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/ChatGPT\ Image\ Nov\ 14\,\ 2025\,\ 11_30_56\ AM.png');
    background-size: cover;
    background-position: center;
    

}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 1);;
    backdrop-filter: blur(40px) ;


}
.container h1 {

    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px; 
} 

.input-box input::placeholder {

    color: #b1b1b1;
}

.input-box i {
    position: absolute;
    right: 20px;
    width: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    top: 50%;
}

.remember-forgot {

    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

/*
margin e padding

1 valor - margin: 20px - todos os lados
2 valor - margin: 20px 30px - em cima e embaix, dos lados 
3 valor - margin:20px 10px 30px - em cima, dos lados, embaixo
4 valor - margin: 10px 30px 12px 33px - em cima, direita, embaixo, esquerda

*/

.remember-forgot label input {

    accent-color: #fff;
    margin-right: 5px;
    margin-top: 15px;
    
}

.remember-forgot a {
    text-decoration: none;
    margin-top: 10px;
    color: #fff;
    
}


.remember-forgot a:hover {
    text-decoration: underline ;
    
}

.login {
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 1);
    margin-top: 20px;
}

.login:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    
    
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}


.register-link a:hover {
    text-decoration: underline;

}
